<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PartyInc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <PartyInc.Properties.Settings>
            <setting name="SweetsOrderConsultantId" serializeAs="String">
                <value>9ba3a372-1892-4ec7-b710-3e6b8008a4ab</value>
            </setting>
            <setting name="SweetsOrderConsultantSubscriptionKey" serializeAs="String">
                <value>efbef2bd3bf642d2a371e49127091535</value>
            </setting>
        </PartyInc.Properties.Settings>
    </userSettings>
</configuration>